.vscode/
__pycache__/

/detect
/input_face/detect
/input_face/recog
/output_face/recog

/move_img


/recognition/data/embed
/recognition/data/facebank
/recognition/eval
/recognition/opt


/recognition/train/work_space/models
/recognition/train/work_space/save


/tmp

