.vscode/
__pycache__/

/detect_recog/detect/yolov4-custom_6000.weights
/detect_recog/detect/yolov4-custom.cfg
/detect_recog/input_face/detect
/detect_recog/input_face/recog
/detect_recog/output_face/recog


/detect_recog/recognition/data/embed
/detect_recog/recognition/data/facebank



/detect_recog/recognition/train/work_space/models
/detect_recog/recognition/train/work_space/save


